
<!-- Does not work. -->
<paper-header-panel class="flex">
    <paper-toolbar>
        <paper-icon-button icon="menu" on-tap="menuAction"></paper-icon-button>
        <div class="title">Polymer</div>
    </paper-toolbar>
</paper-header-panel>



{{outlet}}
